<br>
<div id="comment-<%= comment.id %>">
  <div class="c-comment">
    <div class="c-img">
      <%= image_tag(comment.user.image.url, id: "c-img") %>
    </div>
    <div class="c-head">
      <p class="c-user">
        <%= link_to comment.user.username, comment.user %>
      </p>
      <p class="c-time">
        [<%= comment.created_at.strftime("%D   %R") %>]
      </p>
    </div>
  </div>
  <div class="c-delete">
  <% if user_signed_in? %>
    <% if current_user == comment.user || current_user.admin %>
    <%= link_to image_tag("/images/icon/x.svg"), game_comment_path(@game, comment),
    method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
  </div>
  <hr>
  <div class="c-body">
    <%= comment.body %>
  </div>
</div>
