<div class="uraty">
  <%= simple_form_for(UserScore.new) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
      <div class="urating" data-score="<%= @user_score_id %>"></div>
      <div id="u-rating"></div>
    </div>
    <div class="form-actions">
      <%= f.button :button, id:"urating-submit", type: :submit, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>
    </div>
  <% end %>
</div>
